[Unit]
Description=transix tunnel
After=dnsmasq.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/modprobe ip6_tunnel
ExecStart=/usr/bin/sysctl net.ipv4.conf.%i.forwarding=1
ExecStart=/bin/sh -c "/usr/bin/ip tunnel add transix mode ip4ip6 remote $(dig gw.transix.jp AAAA +short | head -1) local $(ip addr show %i | grep 'mngtmpaddr' | awk '{print $2}' | awk -F/ '{print $1}') dev %i"
ExecStart=sleep 1
ExecStart=/usr/bin/ip link set dev transix mtu 1500 up
ExecStart=/usr/bin/ip route add default dev transix
ExecStop=/usr/bin/ip tunnel del transix

[Install]
WantedBy=multi-user.target
