byobu/.config/byobu/.metadata_available
byobu/.config/byobu/.ssh-agent
byobu/.config/byobu/plugins
byobu/.config/byobu/layouts
nvim/.config/nvim/autoload/plug.vim
borg/.borg/*.conf
borg/.borg/*.exclude
