Source: wcwidth-cjk
Section: misc
Priority: optional
Maintainer: Regen <regen100@users.noreply.github.com>
Build-Depends: debhelper (>=9), cdbs, dh-autoreconf
Standards-Version: 3.9.7
Homepage: https://github.com/fumiyas/wcwidth-cjk

Package: wcwidth-cjk
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: CJK-friendly wcwidth
 This is a $LD_PRELOAD-able library and a wrapper script to run a command with
 CJK-friendly wcwidth(3) implementation for fixing "East Asian Ambiguous Width
 Characters" problem.
