[Unit]
Description=Apply DNAT rule for transparent proxy
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/sbin/iptables -t nat -A PREROUTING -p tcp --dport 80 -j REDIRECT --to-port 8001
ExecStop=/sbin/iptables -t nat -D PREROUTING -p tcp --dport 80 -j REDIRECT --to-port 8001
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
